
body {
  font-family: Arial, sans-serif;
}

.container {
  margin: 20px;
}

input,
select,
button {
  margin: 5px;
  padding: 8px;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 15px;
}


@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  input,
  select,
  button {
    width: 100%;
    margin-bottom: 10px;
  }

  table {
    margin-top: 10px;
  }

  td {
    padding: 8px;
  }
}


